<!DOCTYPE html>
<html lang="en">

<head>
    {% block head %}
    <meta charset="UTF-8">
    <title>tobischmitt.net</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <meta name="fediverse:creator" content="@tsmt09@indieweb.social">
    {% endblock %}
    <style>
        body {
            font-family: Arial, Helvetica, sans-serif;
            font-size: 1.3em;
            color: #111;
            background-color: #EEE;
            @media (prefers-color-scheme: dark) {
                background-color: #333;
                color: #fff;
            }
        }
        a {
            color: teal;
            @media (prefers-color-scheme: dark) {
                color: lightblue;
            }
        }
        .center {
            max-width: 30em;
            margin-left: auto;
            margin-right: auto;
        }
        article pre {
            border:#EEE .2em dashed;
            padding: .4em;
            overflow: auto;
            text-overflow: ellipsis;
        }
        article img {
            max-width: 100%;
        }
        .navleft {
            font-size: 1.3em;
            float: left;
        }
        .navleft a {
            margin-right: 0.2em;
            text-decoration: none;
        }
        .navright {
            font-size: 1.3em;
            text-align: right;
            text-decoration: none;
        }
        .navright a {
            margin-left: 0.2em;
            text-decoration: none;
        }
        .postpreview {
            margin-top: 1em;
        }
    </style>
</head>

<body>
    <div class="center">
        {% block content %}
        {% endblock %}
        <hr>
        <div>
            <div class="navleft">
                <a href="/" title="home">🏠</a>
                <a href="/about/" title="about me">👨‍💻</a>
                <a href="/deutsch/" title="german">🇩🇪</a>
            </div>
            <div class="navright">
                <a href="/atom.xml" title="about me">⚛️</a>
                <a rel="me" href="https://indieweb.social/@tsmt09">🦣</a>
                <a href="https://github.com/tsmt09" title="github">🐙</a>
                <a href="https://gitlab.com/tsmt" title="gitlab">🦊</a>
            </div>
        </div>
    </div>
</body>

</html>