{% extends "base.html" %}

{% block content %}
<h1>
{{ page.title }}
</h1>
<header>
  <small>
    published on {{ page.date | date(format=config.extra.date_format) }} {% if page.updated %} (last update: {{ page.updated | date(format=config.extra.date_format) }}) {% endif %} <br>
    {% if page.taxonomies %}
    {% for key, value in page.taxonomies %}
    {{ key }}: {%- for element in value %} <a href="/{{ key | slugify }}/{{ element | slugify }}/">{{ element }}</a> {% endfor %}
    {% endfor %}
    {% endif %}
  </small>
</header>
<article>
{{ page.content | safe }}
</article>
{% endblock %}