{% extends "base.html" %}
{% block content %}
<h1>
{{ taxonomy.name }}
</h1>
<div>
  <ul>
  {% for element in terms %}
  <li>
  <a href="{{ element.slug }}">{{ element.name }}</a>
  </li>
  {% endfor %}
  </ul>
</div>
{% endblock %}