{% extends "base.html" %}
{% block content %}
<h1>
  {{ term.name }}
</h1>
<div>
  {% for page in term.pages %}
  <div class="postpreview">
    <p>
      <large><a href="{{ page.permalink }}">{{ page.title }}</a></large><br>
      {% if page.description %}<i>{{ page.description }}</i><br>{% endif %}
      <small>({{ page.date | date(format=config.extra.date_format) }})</small>
    </p>
  </div>
  {% endfor %}
</div>
{% endblock %}